.meal-banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 350px;
    margin: 20px;  
}
@media screen and (max-width: 860px) {
    .meal-banner-container {
        flex-direction: column;
        max-height: 10000px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 30px;
        padding-bottom: 30px
    }
}

@media screen and (max-width: 400px) {
    .meal-banner-container img {
        max-width: 250px;
    }
}

.meal-banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}

.button-container-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-container {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 250px;
}

.button-container:hover {
    opacity: .5;
}

.meal-banner-photo img {
    max-height: 350px;
}

.meal-button-text {
    text-decoration: none;
    color: #fff;
}
