.mini-meal-photo img    {
    max-width: 200px;
}
.mini-go-to-button{
    background-color: red;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.mini-meal-container {
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mini-meal-container span {
    display: block;
    width: 250px;
    word-wrap: break-word;
}
