.order-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;

}

.order-deliviery-form {
    width: 700px;
}

.order-delivery-choice-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.select-button {
    background-color: #E66038;
    color: #fff;
    font-family: 'Open Sans';
    padding: 10px;
    border-radius: 5px;
}

.select-button:hover {
    opacity: .5;
}
